.mainContainer {
    width: 100%;
    height: 60px;
    /* 高さを固定 */
    display: flex;
    flex-direction: row;
    position: fixed;
    /* 画面上部に固定 */
    top: 0;
    /* 画面上部に配置 */
    background-color: rgb(228, 228, 228);
    /* 背景色を指定（必要に応じて変更） */
    z-index: 1000;
    /* 他の要素より前面に表示 */
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #9274ff;
    min-width: 315px;
}

.menu {
    flex: 2;
    /* 比率を1とする */
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: left;
    height: 100%;
}

.menuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 100%;
}

.menuButton:hover {
    background-color: rgba(0, 0, 0, 0.1);
    /* マウスオーバー時の背景色を指定 */
    cursor: pointer;
    /* マウスオーバー時にポインターを表示 */
}

.logo {
    flex: 8;
    /* 比率を8とする */
    font-weight: 800;
    text-align: center;
    font-size: larger;
    text-decoration: none;
}

.menuLink{
    text-decoration: none;
    color: inherit;
}

.user {
    flex: 2;
    /* 比率を1とする */
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: right;
    height: 100%;
}

.userButton {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0px 15px 0 30px;
    height: 100%;
}

.userButton:hover {
    background-color: rgba(0, 0, 0, 0.1);
    /* マウスオーバー時の背景色を指定 */
    cursor: pointer;
    /* マウスオーバー時にポインターを表示 */
}

.userIcon {
    margin: 15px;
}

.userName {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
}

.userNameLabel {
    text-overflow: ellipsis;
    font-weight: bolder;
}