.signageListItem {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 204, 255);
    width: 23%;
    height: 100%;
    margin: 10px;
    border-radius: 10px;
    text-overflow: ellipsis;
}

.topContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.moviePosterImage {
    display: flex;
    width: 50%;
    aspect-ratio: 2/3;
    object-fit: contain;
    border-radius: 10px;
    background-color: rgb(80, 80, 80);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.topLeft {
    display: flex;
    flex-direction: column;
}