.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    background-color: rgb(188, 165, 126);
    border-radius: 5px;
    margin: 2px;
    width: 100%;
    cursor: pointer;
}

.movieWrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px;
    background-color: rgb(216, 240, 241);
    border: solid 1px black;
    border-radius: 5px;
    width: 100%;
    transition: all .2s;
    height: 60px;
}

.movieWrapper:hover {
    transform: scale(1.01);
}


.pubDate {
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    background-color: rgb(39, 39, 39);
    align-items: center;
    padding: 5px;
    white-space: nowrap;
    width: 20%;
}

.date {
    color: white;
}

.pubLabel {
    color: white;
}

.description {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 60%;
}

.title {
    width: 100%;
    font-weight: 600;
    margin-left: 6px;
    padding-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
}

.listSettings {
    display: flex;
    flex-direction: row;
}

.moviePosterImage {
    border-radius: 5px;
    height: 95%;
    margin-left: 10px;
    margin-right: 0;
}


@media only screen and (max-width: 1199px) {
    /* タブレット (landscape) */
}

@media only screen and (max-width: 767px) {

    /* タブレット (portrait) */

}

@media only screen and (max-width: 520px) {

    /* スマホ */
    .movieWrapper {
        flex-direction: column;
        align-items: start;
    }

    .pubDate {
        flex-direction: row;
        width: auto;
    }

    .time {
        margin-left: 10px;
    }

    .description {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .title {
        width: 130%;
    }

    .rating {
        display: none;
    }

    .amount {
        margin: 0;
    }

    .pendingControlButtons {
        display: flex;
        flex-direction: row;
    }


}