.movieListWrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.pageTitle{
    margin-top: 20px;
    text-align: center;
}

select {
    border-radius: 10px;
    font-size: large;
    height: 35px;
}

.listSettingsItem {
    text-align: center;
    margin: 10px;
}

.pageSelector {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pageEllipsis {
    display: flex;
    font-size: large;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 2em;
    height: 1em;
    margin: 5px;
    border-radius: 10px;
    transition: all .2s;
}

.pageNumber {
    display: flex;
    font-size: large;
    align-items: center;
    justify-content: center;
    background-color: rgb(214, 214, 214);
    width: 2em;
    height: 2em;
    margin: 5px;
    border-radius: 10px;
    transition: all .2s;
}

.pageNumber:hover {
    background-color: rgb(167, 167, 167);
    cursor: pointer;
}

.leftArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(173, 175, 174);
    width: 2em;
    height: 2em;
    transition: all .2s;
}

.leftArrow:hover {
    background-color: rgb(150, 150, 150);
    cursor: pointer;
}

.rightArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(173, 175, 174);
    width: 2em;
    height: 2em;
    transition: all .2s;
}

.rightArrow:hover {
    background-color: rgb(150, 150, 150);
    cursor: pointer;
}

.movie{
    display: flex;
}

.listItemArea{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.loadingIcon {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listSettings{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width: 1199px) {
    /* タブレット (landscape) */
}

@media only screen and (max-width: 767px) {
    /* タブレット (portrait) */
}

@media only screen and (max-width: 520px) {

    /* スマホ */
    .pageSelector {
        flex-wrap: wrap;
    }

    .leftArrow,
    .rightArrow {
        display: none;
    }

}