.movieListWrapper {
    margin: 60px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 1200px;
    text-align: center;
    
}

.pageTitle {
    margin-top: 20px;
    text-align: center;
    
}

select {
    border-radius: 10px;
    font-size: large;
    height: 35px;
}

.listSettings {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(201, 230, 255);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.397);
}

.listSettingsItem {
    text-align: center;
    margin: 10px;
}

.pageSelector {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
}

.pageEllipsis {
    display: flex;
    font-size: large;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 2em;
    height: 1em;
    margin: 5px;
    border-radius: 10px;
    transition: all .2s;
}

.pageNumber {
    display: flex;
    font-size: large;
    align-items: center;
    justify-content: center;
    background-color: rgb(214, 214, 214);
    width: 2em;
    height: 2em;
    margin: 5px;
    border-radius: 10px;
    transition: all .2s;
}

.pageNumber:hover {
    background-color: rgb(167, 167, 167);
    cursor: pointer;
}

.leftArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(173, 175, 174);
    width: 2em;
    height: 2em;
    transition: all .2s;
}

.leftArrow:hover {
    background-color: rgb(150, 150, 150);
    cursor: pointer;
}

.rightArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(173, 175, 174);
    width: 2em;
    height: 2em;
    transition: all .2s;
}

.rightArrow:hover {
    background-color: rgb(150, 150, 150);
    cursor: pointer;
}

.movie {
    display: flex;
}

.listItemArea {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.loadingIcon {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.searchArea {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchButton {
    width: 10%;
    height: 50px;
    border-radius: 10px;
    transition: all .2s;
    background-color: rgb(49, 97, 49);
    color: aliceblue;
    font-size: larger;
    font-weight: bolder;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.397);
}

.searchButton:hover {
    cursor: pointer;
    box-shadow: 0 0 0;
}


@media only screen and (max-width: 1199px) {

    /* タブレット (landscape) */
    .movieListWrapper {
        width: 90%;
    }
}

@media only screen and (max-width: 767px) {

    /* タブレット (portrait) */
    .movieListWrapper {
        width: 95%;
    }
}

@media only screen and (max-width: 520px) {

    /* スマホ */
    .movieListWrapper {
        width: 98%;
    }

    .pageSelector {
        flex-wrap: wrap;
    }

    .leftArrow,
    .rightArrow {
        display: none;
    }
}